<div class='intro'>
Welcome to TravelSage – A guide that allows adventurous people to draw the curtain to the most 

exciting cities in the world.  As insanely-passionate travelers, we're here to help you customize your 

authentic experience.

Have an authentic experience to share?  Click here to upload your tale as one of our Travelers.
</div>

<div class='filterDiv'>To start, choose a feature article below – or – click <%=link_to "here", "#", class: "filterButton"%> to filter based upon your preferences:</div>
<%= render 'filter' %>
