<div class='cityLink'>Results</div>
<% @articles.each do |article| %>
  <div class='singleArticle'>
    <div class='articleText'>
      <span class='articleTitle'><%=link_to article.title, article_path(article)%></span><br>
      <span class='articleAuthor'>By: <%=link_to article.user.username, user_path(article.user) %></span>
    </div>
    <span class='articleTags'>
      <% article.categories.each do |tag| %>
        <%= link_to tag.name, category_path(tag) %>|
      <% end %>
    </span>
  </div>
<% end %>
